<div class="jumbotron">
	<h1 class="text-center">Sanebox UX Labs</h1>
	<p class="text-center">A quick demo of </p>
	 <p class="text-center"><%= link_to "App Demo", "#", class: "btn btn-default btn-lg btn-center" %> <%= link_to "UX Tests", "#", class: "btn btn-primary btn-lg" %></p>
</div>
<%= render "layouts/thumbnails" %>

<h3 class="text-center"> This is a demontration of a web app with user authentication, responsive layout and other C.R.U.D content belonging to users.</h3>