<% if user_signed_in? %>
          
		<div class="jumbotron">
	
				<h1 class="text-center"> </h1>
				<p class="text-center">Welcome to your talent dashboard.</p>
		</div>
		<!-- testing out vertical bottons -->
			<div class="btn-group-vertical" role="group" aria-label="left">
				 <button type="button" class="btn btn-primary">Menu</button>
				 <button type="button" class="btn btn-success"> envoices</button>
  				 <button type="button" class="btn btn-success">candidates</button>
  				  <button type="button" class="btn btn-success">calendar</button>
  				  <button type="button" class="btn btn-success">analytics</button>
  				   <button type="button" class="btn btn-success">messages</button>
  				    <button type="button" class="btn btn-primary">products</button>
  			
			</div>


     <% else %>



<div class="jumbotron">
	<br>
	<br>
	<h1 class="text-center">  CREATIVE TALENT ON TAP</h1>
	<p class="text-center"> we provide retention focused talent that deliver rentetion focused products. </p>
	 <p class="text-center"><%= link_to "join our community", new_user_registration_path, class: "btn btn-default btn-lg btn-center" %></p>
</div>

<%= render "layouts/thumbnails" %>

<div class="panel panel-default">
  	<div class="panel-body">
    
		<h3 class="text-center"> This is a demontration of a web app with user authentication, responsive layout and other C.R.U.D content belonging to users.</h3>
	</div>
</div>
<% end %>