<% if user_signed_in? %>
          
		<div class="jumbotron">
	
				<h1 class="text-center"> </h1>
				<p class="text-center">Welcome to your UX dashboard.</p>
		</div>
		<!-- testing out vertical bottons -->
			<div class="btn-group-vertical" role="group" aria-label="left">
				 <button type="button" class="btn btn-primary">Sq1 Projects</button>
				 <button type="button" class="btn btn-success"> Analytics</button>
  				 <button type="button" class="btn btn-success">Prototypes</button>
  				  <button type="button" class="btn btn-success">Assets</button>
  				  <button type="button" class="btn btn-success">Calendar</button>
  				   <button type="button" class="btn btn-success">User Data</button>
  				    <button type="button" class="btn btn-primary">Messages</button>
  			
			</div>


     <% else %>



<div class="jumbotron">
	
	<h1 class="text-center">square 1.</h1>
	<p class="text-center"> We add users and experience to your UX</p>
	 <p class="text-center"><%= link_to "Free User Test!", new_user_registration_path, class: "btn btn-default btn-lg btn-center" %></p>
</div>

<%= render "layouts/thumbnails" %>

<div class="panel panel-default">
  	<div class="panel-body">
    
		<h3 class="text-center"> This is a demontration of a web app with user authentication, responsive layout and other C.R.U.D content belonging to users.</h3>
	</div>
</div>
<% end %>