<% if user_signed_in? %>
          
		<div class="jumbotron">
	
				<h1 class="text-center"> </h1>
				<p class="text-center">Welcome to your matchmaker dashboard.</p>
		</div>
		<!-- testing out vertical bottons -->
			<div class="btn-group-vertical" role="group" aria-label="left">
				 <button type="button" class="btn btn-primary">Square 1 Projects</button>
				 <button type="button" class="btn btn-success"> clients</button>
  				 <button type="button" class="btn btn-success">candidates</button>
  				  <button type="button" class="btn btn-success">calendar</button>
  				  <button type="button" class="btn btn-success">analytics</button>
  				   <button type="button" class="btn btn-success">messages</button>
  				    <button type="button" class="btn btn-primary">MY Messages</button>
  			
			</div>


     <% else %>



<div class="jumbotron">
	
	<h1 class="text-center">Date smarter.</h1>
	<p class="text-center"> tdr finds you matches so you don't have to. </p>
	 <p class="text-center"><%= link_to "Free consultation", new_user_registration_path, class: "btn btn-default btn-lg btn-center" %></p>
</div>

<%= render "layouts/thumbnails" %>

<div class="panel panel-default">
  	<div class="panel-body">
    
		<h3 class="text-center"> This is a demontration of a web app with user authentication, responsive layout and other C.R.U.D content belonging to users.</h3>
	</div>
</div>
<% end %>