<div class="jumbotron">
	<h1>Sanebox UX Labs</h1>
	<p>A quick demo of <%= link_to "Pinterest Simulator", "#", class: "btn btn-default" %> <%= link_to "UX Tests", "#", class: "btn btn-primary" %></p>
</div>