<% if user_signed_in? %>
          
		<div class="jumbotron">
	
				<h1 class="text-center"> </h1>
				<p class="text-center">Welcome and enjoy your show!.</p>
		</div>
		<!-- testing out vertical bottons -->
			<div class="btn-group-vertical" role="group" aria-label="left">
				 <button type="button" class="btn btn-primary">Shows</button>
				 <button type="button" class="btn btn-success">Live Sports</button>
  				 <button type="button" class="btn btn-success">On Demand</button>
  				  <button type="button" class="btn btn-success">Pay Per View</button>
  				  <button type="button" class="btn btn-success">News</button>
  				   <button type="button" class="btn btn-success"> Take a Tour!</button>
  				    <button type="button" class="btn btn-primary">Upgrade now!</button>
  			
			</div>


     <% else %>



<div class="jumbotron">
	
	<h1 class="text-center">Welcome to MobiTV </h1>
	<p class="text-center"> For TV anywhere and anytime </p>
	 <p class="text-center"><%= link_to "Right Now!", new_user_registration_path, class: "btn btn-default btn-lg btn-center" %></p>
</div>

<%= render "layouts/thumbnails" %>

<div class="panel panel-default">
  	<div class="panel-body">
    
		<h3 class="text-center"> This is a demontration of a web app with user authentication, responsive layout and other C.R.U.D content belonging to users.</h3>
	</div>
</div>
<% end %>