<% if user_signed_in? %>
          
		<div class="jumbotron">
	
				<h1 class="text-center"> </h1>
				<p class="text-center">Welcome to your dating dashboard ;-)</p>
		</div>
		<!-- testing out vertical bottons -->
			<div class="btn-group-vertical" role="group" aria-label="left">
				 <button type="button" class="btn btn-primary">Current Matches</button>
				 <button type="button" class="btn btn-success"> Match Preferences</button>
  				 <button type="button" class="btn btn-success">Match Makers</button>
  				  <button type="button" class="btn btn-success">My Pictures</button>
  				  <button type="button" class="btn btn-success">Calendar</button>
  				   <button type="button" class="btn btn-success">Date Ideas</button>
  				    <button type="button" class="btn btn-primary">Advisers</button>
  			
			</div>


     <% else %>



<div class="jumbotron">
	
	<h1 class="text-center">Welcome to The 3 Day Rule </h1>
	<p class="text-center"> The organic and natural way to meeting your match  </p>
	 <p class="text-center"><%= link_to "Find your first free match!", new_user_registration_path, class: "btn btn-default btn-lg btn-center" %></p>
</div>

<%= render "layouts/thumbnails" %>

<div class="panel panel-default">
  	<div class="panel-body">
    
		<h3 class="text-center"> This is a demontration of a web app with user authentication, responsive layout and other C.R.U.D content belonging to users.</h3>
	</div>
</div>
<% end %>