<div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://www.sitepoint.com/wp-content/themes/sitepoint/assets/images/icon.ruby.png" alt="...">
          <div class="caption">
            <h3 class="text-center">friends</h3>
            <p class="text-center"> We highlight community evangilistm and organic outreach exploration. We feature familiar user experiences from the most popular social networks and apps. </p> 
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="http://www.sitepoint.com/wp-content/themes/sitepoint/assets/images/icon.web.png"alt="...">
            <div class="caption">
              <h3 class="text-center"> events</h3>
              <p class="text-center"> Our tools motivate hustle and bustle through a passion for gamification. Come and experience our UX flavors for a feast of the eyes. </p>
              
            </div>
          </div>
       
      </div>
      <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="http://www.sitepoint.com/wp-content/themes/sitepoint/assets/images/icon.ux.png"alt="...">
            <div class="caption">
              <h3 class="text-center">analytics</h3>
              <p class="text-center"> See activity from all over your team and get profound yet simple insite into your conversion and retention process. </p>
              
            </div>
          </div>
        
      </div>
</div>
