<div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://www.launchla.org/available/wray/approp.jpg" alt="...">
          <div class="caption">
            <h3 class="text-center">artists</h3>
            <p class="text-center"> We highlight the inspiring people and their creative exploration. We feature internationial names and are always scouting for great new art. </p> 
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="http://www.launchla.org/available/scane/factory.jpg"alt="...">
            <div class="caption">
              <h3 class="text-center"> events</h3>
              <p class="text-center"> Our events bring art from the hustle and bustle of LA passion. Come and experience the local spices and flavors for a feast of the eyes. </p>
              
            </div>
          </div>
       
      </div>
      <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="http://www.launchla.org/available/wray/sentinel.jpg"alt="...">
            <div class="caption">
              <h3 class="text-center">shop</h3>
              <p class="text-center"> Enjoy all that our so cal arti city has to offer. check out the latest art and accessories. Every purchase supports the advancemnet of free art events for LA </p>
              
            </div>
          </div>
        
      </div>
</div>
