<div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://www.sitepoint.com/wp-content/themes/sitepoint/assets/images/icon.ruby.png" alt="...">
          <div class="caption">
            <h3 class="text-center">development</h3>
            <p class="text-center"> It does'nt have to be a holygrail idea to find a creative who can code too. Our talent bring their front end skills to reduce your moving parts. </p> 
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="http://www.sitepoint.com/wp-content/themes/sitepoint/assets/images/icon.web.png"alt="...">
            <div class="caption">
              <h3 class="text-center"> scrum</h3>
              <p class="text-center"> We hire talent that understand the socially and technical demands of a team that focuses on short sprints for testable and releasable design iterations. </p>
              
            </div>
          </div>
       
      </div>
      <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="http://www.sitepoint.com/wp-content/themes/sitepoint/assets/images/icon.ux.png"alt="...">
            <div class="caption">
              <h3 class="text-center">UX analytics</h3>
              <p class="text-center"> Our talent knows that the creative phase continues into the retention and conversion process. Conducting AB testing for content is a qualification . </p>
              
            </div>
          </div>
        
      </div>
</div>
